{% load staticfiles %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />

<title>Seacast News</title>

<link href="{% static 'css/news.css' %}" rel="stylesheet" type="text/css"/>



</head>
<body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57018273-1', 'auto');
  ga('send', 'pageview');

</script>

<script>
    function goBack() {
        window.history.back()
    }
</script>


<div id="container">
    <h1><span class="title_left">Seacast News</span></h1>
    <div id="container-blog"> <!-- Blog container & start of posts-->
        <div class="post">
            <div class="post-head">
                <h2 class="post-title">Seacast is Moving!</h2><span class="post-date"><strong> - Date Posted: 04/24/2018</strong></span>
            </div>
            <div class="post-body-container">
                <p class="post-body">
                    <img width="400px" src="/static/imgs/NVSSeacast.png" align="right"><img>
                    The grant that provided funding for costs Seacast.org is set to end sometime this summer!
                    In accordance with that Seacast has is now going to be hosted by our friends at NANOOS. The
                    new site is operational and can be found at the following link:

                    <a href="http://nvs.nanoos.org/Seacast">http://nvs.nanoos.org/Seacast</a>
                </p>
            </div>
        </div>
        <!--  End of Post -->

        <div class="post">
            <div class="post-head">
                <h2 class="post-title">Seacast Meeting!</h2><span class="post-date"><strong> - Date Posted: 05/11/2018</strong></span>
            </div>
            <div class="post-body-container">
                <p class="post-body">
                    There will be a meeting held on June 8th from 11am - 1pm at Englunds with lunch
                    provided. And here is some more text to take up some more room. And here is maybe
                    a link to some directions!
                </p>
            </div>
        </div>
        <!--  End of Post -->
    </div>




</div>
</body>
</html>
