
{% load staticfiles %}

<script>

// *********************************************************************************************************************
// Really helpful Global variables
// *********************************************************************************************************************
// so website knows its url
var loc = "{{ MEDIA_URL }}";
// things needed for google map
var map;
var mapBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(40.5840806224, -129.0),
        new google.maps.LatLng(47.499, -123.726199391));
var mapMinZoom = 2;
var mapMaxZoom = 12;
// know what index relates to what date in date-time
var datetime = [];
// know how many visible times there are
var numDates = 0;
// hold values of what to display on given date
var datedic = [];
// know what overlay definitions there are
var definitions = [];
// what keys are being displayed
var visibleKeys = [];
// is there an active contour (FC) being displayed
var visible_FC = false;
// is there an active vector (V) being displayed
var visible_V = false;

// *************************************************************
// array holding overlays for given datetime
// also sets up some other handy variables
// *************************************************************
// fill datedic array with nulls
{% for t in times %}
    // so we know how many dates in array
    datetime[numDates] = "{{ t }}";
    numDates++;
    datedic["{{ t }}"]=[];
    {% for i in defs %}
        datedic["{{ t }}"]["{{ i.function_name }}"] = null;
    {% endfor %}
{% endfor %}
// replace nulls with actual values
{% for o in overlays %}
    datedic[ "{{ o.applies_at_datetime }}" ][ "{{ o.definition.function_name }}" ] = ["{{o.tile_dir}}", "{{o.key}}"];
{% endfor %}
// fill up definitions array
{% for d in defs %}
    definitions["{{ d.function_name }}"] = "{{ d.type }}";
{% endfor %}

// *********************************************************************************************************************
// actual javascript that is run and not a separate function
// *********************************************************************************************************************
// set side bar to toggle when hide/show button is clicked
$('#sidebar-left-btn').click(function() {
   SidebarToggle();
});
// set up the toggle checkboxes click event
$('tr').click(function() {
    var checkBox = $(this).find('.toggle-checkbox');
    checkBox.prop("checked", !checkBox.prop("checked"));
});
// toogle key overlay when clicked (this can be better done)
$('#key').click(function () {
    var searchStr = $("#key-img").prop("src").substring(window.location.href.length - 1);
    var index = visibleKeys.indexOf(searchStr);
    if (visibleKeys.length > 1) {
        if (index > 0) {
            $("#key-img").attr("src", visibleKeys[index-1]);
        }
        else {
            $("#key-img").attr("src", visibleKeys[index+1]);
        }
    }
    else {
        $("#key-img").attr("src", visibleKeys[index]);
    }
});
// set lat long toggle to on page load
$('#latlong-toggle .toggle-checkbox').prop("checked", true);
// set all overlay taoggles to false
for (name in definitions) {
    $("#" + name + ".toggle-checkbox").prop("checked", false);
}
// toggle event for lat long
$("#latlong-toggle").click(function(e) {
    var temp = $(this).find('.toggle-checkbox');
    if (temp.prop("checked")){
        grid.show();
    } else {
        grid.hide();
    }
});
// event when an overlay is toggled on or off
$(".overlay-toggle").click(function(e) {
    // get all data on toggle in question
    var toggle = $(this).find('.toggle-checkbox');
    // get state of toggle prior to click
    var prevState = !(toggle.prop('checked'));
    // get date so we know what overlay add/remove
    var textdate = datetime[document.getElementById('date-time').value];
    // get id of the toggle
    var type = toggle.attr('id');
    // insert/remove overlay
    if (prevState == false) {
        // fix conflicting toggle states
        for (name in definitions) {
            if (name != type && definitions[name] == definitions[type]){
                $("#" + name + ".toggle-checkbox").prop('checked', false);
                remove_overlay(type);
            }
        }
        if(insert_overlay(textdate, type) != true) {
            toggle.prop('checked', false);
            window.alert("There is no overlay for " + type + " on " + textdate);
        }
    }
    else {
        remove_overlay(type);
    }
});
// event for when value in date-time is changed
$('#date-time').change(function(e) {
    // get date so can update overlays
    var textdate = datetime[document.getElementById('date-time').value];
    // set next/prev button disables as needed
    prev_next_enable_toggle();
    // update overlays
    update_overlays(textdate);
});

//**********************************************************************************************************************
//Map Marker Function
//**********************************************************************************************************************
function makeTideMarker(date, station){
    var station_data = {"station_id": station, "display_date": date};
    var jsonData = JSON.stringify(station_data);
    var tideInfo = '';
    jQuery.ajax({
        type: 'POST',
        url: '{% url "SharkEyesCore.views.tides" %}',
        data: jsonData,
        datatype: "JSON",
        success: function(data){
            data = JSON.parse(data);
            for (var i = 0; i < data.predictions.length; i++) {
                var item = data.predictions[i];
                tideInfo += '<p>' + item.t + '   ' + 'Water Level:' + ' ' + item.v + '</p>' + '<br>';
            }
        },
        async: false,
        error: function(xhr, ajaxOptions, thrownError){
            alert(xhr.status);
            alert(thrownError);
        }
    });
    return tideInfo;
}

// *********************************************************************************************************************
// initialize the google map and tide markers
// *********************************************************************************************************************
function initialize() {
    $(function() {
        FastClick.attach(document.body);
    });
    // options for the google map
    var mapOptions = {
        panControl: true,
        panControlOptions: {
            position: google.maps.ControlPosition.TOP_RIGHT
        },
        zoomControl: true,
        zoomControlOptions: {
            style: google.maps.ZoomControlStyle.LARGE,
            position: google.maps.ControlPosition.TOP_RIGHT
        },
        center: new google.maps.LatLng(44.032222, -128.2),
        zoom: 7,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        overviewMapControl: false,
        draggableCursor: '',
        mapTypeId: google.maps.MapTypeId.HYBRID
    };
    // create the google map in center of page
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    // Lat long grid lines
    grid = new Graticule(map, true);
    // add event to map so that Lat Long is updated when mouse moves
    google.maps.event.addListener(map, 'mousemove', function(event) {
        LatLongUpdate(event);
    });
    //a hack to make sure the scale is in miles... (can we do better?)
    var scaleInterval = setInterval(function() {
        var scale = $(".gm-style-cc:not(.gmnoprint):contains(' km')");
        if (scale.length) {
            scale.click();
            clearInterval(scaleInterval);
        }
    }, 100);

    // Code to create the tide information markers and populate the data from noaa.
    var image = '{% static 'imgs/tide_icon.gif' %}';
    var display_date = 'latest';

    //Make the South Beach map marker
    var southBeachContent = '';
    var southBeachInfoWindow;
    var southBeachId = 9435380;
    var southBeachMarker = new google.maps.Marker({
	    position: new google.maps.LatLng(44.627107, -124.068863),
        map: map,
        icon: image,
        title: 'South Beach Station, Newport OR'
    });
    southBeachMarker.addListener('click', function(){
        southBeachContent = '<p>' + '<b>' + 'South Beach Station Tides' + '</b>' + '</p>' + '<br>';
        southBeachContent +=  makeTideMarker(display_date, southBeachId);
        southBeachInfoWindow = new google.maps.InfoWindow({
            content: southBeachContent
        });
        southBeachInfoWindow.open(map, southBeachMarker);
    });

    //Make the Astoria Marker
    var astoriaContent = '';
    var astoriaInfoWindow;
    var astoriaId = 9439040;
    var astoriaMarker = new google.maps.Marker({
	    position: new google.maps.LatLng(46.191186, -124.011807),
        map: map,
        icon: image,
        title: 'Astoria, Astoria OR'
    });
    astoriaMarker.addListener('click', function(){
        astoriaContent = '<p>' + '<b>' + 'Astoria Station Tides' + '</b>' + '</p>' + '<br>';
        astoriaContent += makeTideMarker(display_date, astoriaId);
        astoriaInfoWindow = new google.maps.InfoWindow({
            content: astoriaContent
        });
        astoriaInfoWindow.open(map, astoriaMarker);
    });

    //Make the Coos Bay marker
    var coosContent = '';
    var coosInfoWindow;
    var coosId = 9432780;
    var coosMarker = new google.maps.Marker({
	    position: new google.maps.LatLng(43.368178, -124.396843),
        map: map,
        icon: image,
        title: 'Coos Bay, Coos Bay OR'
    });
    coosMarker.addListener('click', function(){
        coosContent = '<p>' + '<b>' + 'Coos Bay Tides' + '</b>' + '</p>' + '<br>';
        coosContent += makeTideMarker(display_date, coosId);
        coosInfoWindow = new google.maps.InfoWindow({
            content: coosContent
        });
        coosInfoWindow.open(map, coosMarker);
    });
}

// *********************************************************************************************************************
// update the Lat and Log displayed in sidebar
// *********************************************************************************************************************
function LatLongUpdate(event) {
    // value to set lat long in sidebar
    var ret = {lat:"", long:""};
    // get lat long from event
    var lat = event.latLng.lat().toString().split(".");
    var long = event.latLng.lng().toString().split(".");
    // tempary variable to hold stuffs
    var temp;
    // hours
    ret.lat += lat[0];
    ret.long += long[0];
    // minutes
    temp = ("0." + lat[1]) * 60;
    lat = temp.toString().split(".");
    ret.lat += "°" + lat[0];
    temp = ("0." + long[1]) * 60;
    long = temp.toString().split(".");
    ret.long += "°" + long[0];
    // seconds
    temp = ("0." + lat[1]) * 60;
    ret.lat += "'" + Math.round(temp) + '"';
    temp = ("0." + long[1]) * 60;
    ret.long += "'" + Math.round(temp) + '"';
    // set lat long in sidebar
    $("#coords-lat").html(ret.lat);
    $("#coords-long").html(ret.long);
}

// *********************************************************************************************************************
// toggles the sidebar
// *********************************************************************************************************************
function SidebarToggle() {
    if (! $('#sidebar-left').hasClass('clicked')){
        $('#sidebar-left').toggleClass('clicked').delay(200).queue(function(next){
            $('#sidebar-left').css("display","none");
            next();
        });
    } else {
        $('#sidebar-left').show().toggleClass('clicked');
    };
    $('#sidebar-left-btn').text(function(text) {
        return text === "Menu ►" ? "◄ Hide" : "Menu ►";
    });
    $('#sidebar-left-btn').toggleClass('arrow-left');
    $('#sidebar-left-btn').toggleClass('arrow-right');
    $('#key').toggleClass('transpose');
}

// *********************************************************************************************************************
// Event for when next button is clicked
// *********************************************************************************************************************
function next_onclick() {
    // get current date
    var date = document.getElementById('date-time').value;
    // set to prev date
    document.getElementById('date-time').value = ++date;
    // call event function used to make change to date-time element
    $('#date-time').change();
    // set next/prev button disables as needed
    prev_next_enable_toggle();
}

// *********************************************************************************************************************
// Event for when prev button is clicked
// *********************************************************************************************************************
function prev_onclick() {
    // get current date
    var date = document.getElementById('date-time').value;
    // set to prev date
    document.getElementById('date-time').value = --date;
    // call event function used to make change to date-time element
    $('#date-time').change();
    // set next/prev button disables as needed
    prev_next_enable_toggle();
}

// *********************************************************************************************************************
// Enables or disables next/prev button as necessary
// *********************************************************************************************************************
function prev_next_enable_toggle() {
    var date = document.getElementById('date-time').value;
    if (date == 0) {
        document.getElementById("previous").disabled = 'true';
    }
    else {
        document.getElementById("previous").removeAttribute("disabled");
    }
    if (date == (numDates-1)) {
        document.getElementById("next").disabled = 'true';
    }
    else {
        document.getElementById("next").removeAttribute("disabled");
    }
}


// *********************************************************************************************************************
// updates all the currently displayed overlays
// *********************************************************************************************************************
function update_overlays(date) {
    for (name in definitions) {
        if($("#" + name + ".toggle-checkbox").prop("checked")) {
            if (insert_overlay(date, name) != true) {
                $("#" + name + ".toggle-checkbox").prop('checked', false);
                remove_overlay(name);
                window.alert("There is no overlay for " + name + " on " + date);
            }
        }
    }
}

// *********************************************************************************************************************
// Add a visible overlay to the map
// returns true on success
// returns false on failure
// *********************************************************************************************************************
function insert_overlay(date, type) {
    if (datedic[date][type] == null) {
        return false;
    }
    var overlayURL = datedic[date][type][0];
    var overlayKey = datedic[date][type][1];
    var overlayType = definitions[type];
    var x = new google.maps.ImageMapType({
        getTileUrl: function(coord, zoom) {
            var proj = map.getProjection();
            var tileSize = 256 / Math.pow(2, zoom);
            var tileBounds = new google.maps.LatLngBounds (
                    proj.fromPointToLatLng(new google.maps.Point(coord.x*tileSize, (coord.y+1)*tileSize)),
                    proj.fromPointToLatLng(new google.maps.Point((coord.x+1)*tileSize, coord.y*tileSize))
            );
            if (mapBounds.intersects(tileBounds) && (zoom >= mapMinZoom) && (zoom <= mapMaxZoom)) {
                return loc + "tiles/" + overlayURL + "/" + zoom + "/" + coord.x + "/" + (Math.pow(2,zoom)-coord.y-1) + ".png";
            }
        },
        tileSize: new google.maps.Size(256, 256),
        isPng: true,
        opacity:.8
    });
    if (overlayType == "FC") {
        if (visible_FC == true) {
            map.overlayMapTypes.removeAt(0);
            visibleKeys.splice(0, 1);
        }
        visible_FC = true;
        map.overlayMapTypes.insertAt(0, x);
        visibleKeys.splice(0, 0, loc + overlayKey);
    }
    else if (overlayType == "V") {
        if (visible_V == true) {
            map.overlayMapTypes.pop();
            visibleKeys.splice(-1, 1);
        }
        visible_V = true;
        map.overlayMapTypes.push(x);
        visibleKeys.push(loc + overlayKey);
    }
    $("#key-img").attr("src", loc + overlayKey);
    $("#key-img").show();
    $("#key").show();
    return true;
}

// *********************************************************************************************************************
// remove a visible overlay from the map
// *********************************************************************************************************************
function remove_overlay(type) {
    var overlayType = definitions[type];
    if (overlayType == "FC") {
        if (visible_FC == true) {
            map.overlayMapTypes.removeAt(0);
            visibleKeys.splice(0, 1);
        }
        visible_FC = false;
    }
    else if (overlayType == "V") {
        if (visible_V == true) {
            map.overlayMapTypes.pop();
            visibleKeys.splice(-1, 1);
        }
        visible_V = false;
    }
    if (visibleKeys.length < 1) {
        $("#key-img").attr("src","");
        $("#key-img").hide();
        $("#key").hide();
    }
    // this is bad makes assumption that only ever two in visibleKeys
    else {
        $("#key-img").attr("src", visibleKeys[0]);
    }
}
</script>
