
{% load staticfiles %}

<script>

// *********************************************************************************************************************
// Really helpful Global variables
// *********************************************************************************************************************
// so website knows its url
var loc = "{{ MEDIA_URL }}";
// things needed for google map
var map;
var mapBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(40.5840806224, -129.0),
        new google.maps.LatLng(47.499, -123.726199391));
var mapMinZoom = 2;
var mapMaxZoom = 12;
// know what index relates to what date in date-time
var datetime = [];
// know how many visible times there are
var numDates = 0;
// hold values of what to display on given date
var datedic = [];
// know what overlay definitions there are
var definitions = [];
// what keys are being displayed
var visibleKeys = [];
// is there an active contour (FC) being displayed
var visible_FC = false;
// is there an active vector (V) being displayed
var visible_V = false;
//These are variables for the tide stations.
//******************************************************************
//New tide tables can be found at http://tidesandcurrents.noaa.gov/tide_predictions.html?gid=1409
//This is the page for Oregon. Astoria is found in Washington. Click on the station and you can download the station's
//specific annual tide table from the station page
//******************************************************************
var southBeachContent = '';
var astoriaContent = '';
var coosContent = '';
var southBeachFlag = 0;       //These flags are used to prevent the map markers from reloading the data every time they are clicked.
var astoriaFlag = 0;
var coosFlag = 0;
var southBeachId = 'southbeach'; //If you want to add new stations these ids can be found at http://tidesandcurrents.noaa.gov/map/
var astoriaId = 'astoria';
var coosId = 'coosbay';

// *************************************************************
// array holding overlays for given datetime
// also sets up some other handy variables
// *************************************************************
// fill datedic array with nulls
{% for t in times %}
    // so we know how many dates in array
    datetime[numDates] = "{{ t }}";
    numDates++;
    datedic["{{ t }}"]=[];
    {% for i in defs %}
        datedic["{{ t }}"]["{{ i.function_name }}"] = null;
    {% endfor %}
{% endfor %}
// replace nulls with actual values
{% for o in overlays %}
    datedic[ "{{ o.applies_at_datetime }}" ][ "{{ o.definition.function_name }}" ] = ["{{o.tile_dir}}", "{{o.key}}"];
{% endfor %}
// fill up definitions array
{% for d in defs %}
    definitions["{{ d.function_name }}"] = ["{{ d.type }}", "{{ d.forecast }}"];
{% endfor %}

// *********************************************************************************************************************
// actual javascript that is run and not a separate function
// *********************************************************************************************************************
// set side bar to toggle when hide/show button is clicked
$('#sidebar-left-btn').click(function() {
   SidebarToggle();
});
// set up the toggle checkboxes click event
$('tr').click(function() {
    var checkBox = $(this).find('.toggle-checkbox');
    checkBox.prop("checked", !checkBox.prop("checked"));
});
// toogle key overlay when clicked (this can be better done)
$('#key').click(function () {
    var searchStr = $("#key-img").prop("src").substring(window.location.href.length - 1);
    var index = visibleKeys.indexOf(searchStr);
    if (visibleKeys.length > 1) {
        if (index > 0) {
            $("#key-img").attr("src", visibleKeys[index-1]);
        }
        else {
            $("#key-img").attr("src", visibleKeys[index+1]);
        }
    }
    else {
        $("#key-img").attr("src", visibleKeys[index]);
    }
});
// set lat long toggle to on page load
$('#latlong-toggle .toggle-checkbox').prop("checked", true);
// set all overlay taoggles to false
for (name in definitions) {
    $("#" + name + ".toggle-checkbox").prop("checked", false);
}
// toggle event for lat long
$("#latlong-toggle").click(function(e) {
    var temp = $(this).find('.toggle-checkbox');
    if (temp.prop("checked")){
        grid.show();
    } else {
        grid.hide();
    }
});
// event when an overlay is toggled on or off
$(".overlay-toggle").click(function(e) {
    // get all data on toggle in question
    var toggle = $(this).find('.toggle-checkbox');
    // get state of toggle prior to click
    var prevState = !(toggle.prop('checked'));
    // get date so we know what overlay add/remove
    var textdate = datetime[document.getElementById('date-time').value];
    // get id of the toggle
    var type = toggle.attr('id');
    // insert/remove overlay
    if (prevState == false) {
        // fix conflicting toggle states
        for (name in definitions) {
            if (name != type && definitions[name][0] == definitions[type][0]){
                $("#" + name + ".toggle-checkbox").prop('checked', false);
                remove_overlay(type);
            }
        }
        if(insert_overlay(textdate, type) != true) {
            toggle.prop('checked', false);
            warning_message(textdate, type);
        }
    }
    else {
        remove_overlay(type);
    }
});
// run update_overlays to enable disable as needed
update_overlays(datetime[document.getElementById('date-time').value]);
// event for when value in date-time is changed
$('#date-time').change(function(e) {
    // get date so can update overlays
    var textdate = datetime[document.getElementById('date-time').value];
    //This updates the tide windows with the correct data when the dates are changed.
    southBeachContent = '';
    astoriaContent = '';
    coosContent = '';
    southBeachContent += makeTideMarker(textdate, southBeachId, 'South Beach');
    astoriaContent += makeTideMarker(textdate, astoriaId, 'Astoria');
    coosContent += makeTideMarker(textdate, coosId, 'Coos Bay');
    southBeachFlag = 1;
    astoriaFlag = 1;
    coosFlag = 1;
    // set next/prev button disables as needed
    prev_next_enable_toggle();
    // update overlays
    update_overlays(textdate);
});

//**********************************************************************************************************************
//Map Marker Function
//**********************************************************************************************************************
//This takes a date and a station id and sends the request to SharkEyesCore.views.tides which queries the tide tables and returns
//an html table string to be passed to the Google map markers. It also adds the valid for date and relevant station.
function makeTideMarker(date, station, location){
    dateString = makeDateString(date);
    var station_data = {"station_id": station, "display_date": dateString};
    var jsonData = JSON.stringify(station_data);
    var valid_date = validDate(date)
    var tideInfo = '<p style="font-size:20px">' + '<b>' + location + ' Tides' + '</b>' + '</p>' + '<br>';
    tideInfo += '<p style="font-size:20px">' + 'Valid for&nbsp;' + '<b>' + valid_date + '</b>' + '</p>';
    jQuery.ajax({
        type: 'POST',
        url: '{% url "SharkEyesCore.views.tides" %}',
        data: jsonData,
        datatype: "JSON",
        success: function(data){
                tideInfo += data;
        },
        async: false, //This is async to prevent visible slowdown on initial page load.
        error: function(xhr, ajaxOptions, thrownError){
            alert(xhr.status);
            alert(thrownError);
        }
    });
    return tideInfo;
}

//**********************************************************************************************************************
//Function for making an easily readable date for displaying in tide windows
//**********************************************************************************************************************
function validDate(date){
    var valid_date = '';
    var valid_temp = date.split(" ");
    for(var i = 0; i < 3; i++ ){
        valid_date += valid_temp[i] + " ";
    }
    valid_date = valid_date.replace(/,/g, '');
    return valid_date
}

//**********************************************************************************************************************
//Date Formatting Function
//**********************************************************************************************************************
//This function converts the dates stored in the datetime array into valid strings for accessing the tide tables.
//The dates are stored in datetime as a string in a form like this: March,18,2016,8 p.m. This function would convert that into the string 2016/03/18.
function makeDateString(date){
    date = date.replace(/,/g, ''); //This gets rid of some commas that are left in the string
    var dates = date.split(" "); //This puts the date string into an array with the format:  dates = ['March', '18', '2016', '8', 'p.m']
    var date_str = '';
    date_str += dates[2];
    dates[0] = dates[0].substring(0, 3); //The substring returns just the first 3 characters of the month name. This prevents months with abbreviated names from breaking the switch.
    switch(dates[0]) {
        case 'Jan':
            date_str += '/01/';
            break;
        case 'Feb':
            date_str += '/02/';
            break;
        case 'Mar':
            date_str += '/03/';
            break;
        case 'Apr':
            date_str += '/04/';
            break;
        case 'May':
            date_str += '/05/';
            break;
        case 'Jun':
            date_str += '/06/';
            break;
        case 'Jul':
            date_str += '/07/';
            break;
        case 'Aug':
            date_str += '/08/';
            break;
        case 'Sep':
            date_str += '/09/';
            break;
        case 'Oct':
            date_str += '/10/';
            break;
        case 'Nov':
            date_str += '/11/';
            break;
        case 'Dec':
            date_str += '/12/';
            break;
    }
    if(dates[1].length <= 1){
        date_str += '0' + dates[1];
    }
    else {
        date_str += dates[1];
    }
    return date_str;
}

// *********************************************************************************************************************
// Initialize the google map
// *********************************************************************************************************************
function initialize() {
    $(function() {
        FastClick.attach(document.body);
    });
    // options for the google map
    var mapOptions = {
        panControl: true,
        panControlOptions: {
            position: google.maps.ControlPosition.TOP_RIGHT
        },
        zoomControl: true,
        zoomControlOptions: {
            style: google.maps.ZoomControlStyle.LARGE,
            position: google.maps.ControlPosition.TOP_RIGHT
        },
        center: new google.maps.LatLng(44.032222, -128.2),
        zoom: 7,
        mapTypeControl: false,
        scaleControl: true,
        streetViewControl: false,
        overviewMapControl: false,
        draggableCursor: '',
        mapTypeId: google.maps.MapTypeId.HYBRID
    };
    // create the google map in center of page
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    // Lat long grid lines
    grid = new Graticule(map, true);
    // add event to map so that Lat Long is updated when mouse moves
    google.maps.event.addListener(map, 'mousemove', function(event) {
        LatLongUpdate(event);
    });
    //a hack to make sure the scale is in miles... (can we do better?)
    var scaleInterval = setInterval(function() {
        var scale = $(".gm-style-cc:not(.gmnoprint):contains(' km')");
        if (scale.length) {
            scale.click();
            clearInterval(scaleInterval);
        }
    }, 100);

//**********************************************************************************************************************
//Make the initial tide map markers.
//**********************************************************************************************************************
    var image = '{% static 'imgs/tides.gif' %}'; //The icon for tide markers. I made this image myself, so there is no need to worry about copyright. If you want to change it you can find it in static_files/imgs.

    //Make the South Beach (Newport) map marker
    var southBeachInfoWindow;
    var southBeachMarker = new google.maps.Marker({
	    position: new google.maps.LatLng(44.635621, -123.842464), //Unfortunately you cannot get proper lat-longs for new stations by using our website. Its precision is not high enough. I used Google maps at Google.com to get them.
        map: map,
        icon: image,
        title: 'South Beach Station, Newport OR'
    });

    southBeachMarker.addListener('click', function(){
        if(southBeachFlag == 0) {
            southBeachContent += makeTideMarker(datetime[0], southBeachId, 'South Beach');
            southBeachFlag = 1;
        }
        southBeachInfoWindow = new google.maps.InfoWindow({
            content: southBeachContent
        });
        southBeachInfoWindow.open(map, southBeachMarker);
    });

    //Make the Astoria Marker
    var astoriaInfoWindow;
    var astoriaMarker = new google.maps.Marker({
	    position: new google.maps.LatLng(46.176637, -123.801724),
        map: map,
        icon: image,
        title: 'Astoria, Astoria OR'
    });

    astoriaMarker.addListener('click', function(){
        if(astoriaFlag == 0) {
            astoriaContent += makeTideMarker(datetime[0], astoriaId, 'Astoria');
            astoriaFlag = 1;
        }
        astoriaInfoWindow = new google.maps.InfoWindow({
            content: astoriaContent
        });
        astoriaInfoWindow.open(map, astoriaMarker);
    });

    //Make the Coos Bay marker
    var coosInfoWindow;
    var coosMarker = new google.maps.Marker({
	    position: new google.maps.LatLng(43.361756, -124.051002),
        map: map,
        icon: image,
        title: 'Coos Bay, Coos Bay OR'
    });

    coosMarker.addListener('click', function(){
        if(coosFlag == 0) {
            coosContent += makeTideMarker(datetime[0], coosId, 'Coos Bay');
            coosFlag = 1;
        }
        coosInfoWindow = new google.maps.InfoWindow({
            content: coosContent
        });
        coosInfoWindow.open(map, coosMarker);
    });
}

// *********************************************************************************************************************
// update the Lat and Log displayed in sidebar
// *********************************************************************************************************************
function LatLongUpdate(event) {
    // value to set lat long in sidebar
    var ret = {lat:"", long:""};
    // get lat long from event
    var lat = event.latLng.lat().toString().split(".");
    var long = event.latLng.lng().toString().split(".");
    // tempary variable to hold stuffs
    var temp;
    // hours
    ret.lat += lat[0];
    ret.long += long[0];
    // minutes
    temp = ("0." + lat[1]) * 60;
    lat = temp.toString().split(".");
    ret.lat += "°" + lat[0];
    temp = ("0." + long[1]) * 60;
    long = temp.toString().split(".");
    ret.long += "°" + long[0];
    // seconds
    temp = ("0." + lat[1]) * 60;
    ret.lat += "'" + Math.round(temp) + '"';
    temp = ("0." + long[1]) * 60;
    ret.long += "'" + Math.round(temp) + '"';
    // set lat long in sidebar
    $("#coords-lat").html(ret.lat);
    $("#coords-long").html(ret.long);
}

// *********************************************************************************************************************
// toggles the sidebar
// *********************************************************************************************************************
function SidebarToggle() {
    if (! $('#sidebar-left').hasClass('clicked')){
        $('#sidebar-left').toggleClass('clicked').delay(200).queue(function(next){
            $('#sidebar-left').css("display","none");
            next();
        });
    } else {
        $('#sidebar-left').show().toggleClass('clicked');
    };
    $('#sidebar-left-btn').text(function(text) {
        return text === "Menu ►" ? "◄ Hide" : "Menu ►";
    });
    $('#sidebar-left-btn').toggleClass('arrow-left');
    $('#sidebar-left-btn').toggleClass('arrow-right');
    $('#key').toggleClass('transpose');
}

// *********************************************************************************************************************
// Event for when next button is clicked
// *********************************************************************************************************************
function next_onclick() {
    // get current date
    var date = document.getElementById('date-time').value;
    // set to prev date
    document.getElementById('date-time').value = ++date;
    // call event function used to make change to date-time element
    $('#date-time').change();
    // set next/prev button disables as needed
    prev_next_enable_toggle();
}

// *********************************************************************************************************************
// Event for when prev button is clicked
// *********************************************************************************************************************
function prev_onclick() {
    // get current date
    var date = document.getElementById('date-time').value;
    // set to prev date
    document.getElementById('date-time').value = --date;
    // call event function used to make change to date-time element
    $('#date-time').change();
    // set next/prev button disables as needed
    prev_next_enable_toggle()
}

// *********************************************************************************************************************
// Enables or disables next/prev button as necessary
// *********************************************************************************************************************
function prev_next_enable_toggle() {
    var date = document.getElementById('date-time').value;
    if (date == 0) {
        document.getElementById("previous").disabled = 'true';
    }
    else {
        document.getElementById("previous").removeAttribute("disabled");
    }
    if (date == (numDates-1)) {
        document.getElementById("next").disabled = 'true';
    }
    else {
        document.getElementById("next").removeAttribute("disabled");
    }
}


// *********************************************************************************************************************
// updates all the currently displayed overlays
// *********************************************************************************************************************
function update_overlays(date) {
    for (name in definitions) {
        // enable disable toggles depending on if models is available
        if (datedic[date][name] == null) {
            console.log("disable true " + name);
            $("#" + name).prop('class', 'disabled');
        }
        else {
            console.log("disable false " + name);
            $("#" + name).prop('class', 'option');
        }
        // enable desired overlays
        if($("#" + name + ".toggle-checkbox").prop("checked")) {
            if (insert_overlay(date, name) != true) {
                remove_overlay(name);
                warning_message(date, name);
            }
        }
    }
}

// *********************************************************************************************************************
// Add a visible overlay to the map
// returns true on success
// returns false on failure
// *********************************************************************************************************************
function insert_overlay(date, type) {
    if (datedic[date][type] == null) {
        return false;
    }
    var overlayURL = datedic[date][type][0];
    var overlayKey = datedic[date][type][1];
    var overlayType = definitions[type][0];
    var x = new google.maps.ImageMapType({
        getTileUrl: function(coord, zoom) {
            var proj = map.getProjection();
            var tileSize = 256 / Math.pow(2, zoom);
            var tileBounds = new google.maps.LatLngBounds (
                    proj.fromPointToLatLng(new google.maps.Point(coord.x*tileSize, (coord.y+1)*tileSize)),
                    proj.fromPointToLatLng(new google.maps.Point((coord.x+1)*tileSize, coord.y*tileSize))
            );
            if (mapBounds.intersects(tileBounds) && (zoom >= mapMinZoom) && (zoom <= mapMaxZoom)) {
                return loc + "tiles/" + overlayURL + "/" + zoom + "/" + coord.x + "/" + (Math.pow(2,zoom)-coord.y-1) + ".png";
            }
        },
        tileSize: new google.maps.Size(256, 256),
        isPng: true,
        opacity:.8
    });
    if (overlayType == "FC") {
        if (visible_FC == true) {
            map.overlayMapTypes.removeAt(0);
            visibleKeys.splice(0, 1);
        }
        visible_FC = true;
        map.overlayMapTypes.insertAt(0, x);
        visibleKeys.splice(0, 0, loc + overlayKey);
    }
    else if (overlayType == "V") {
        if (visible_V == true) {
            map.overlayMapTypes.pop();
            visibleKeys.splice(-1, 1);
        }
        visible_V = true;
        map.overlayMapTypes.push(x);
        visibleKeys.push(loc + overlayKey);
    }
    $("#key-img").attr("src", loc + overlayKey);
    $("#key-img").show();
    $("#key").show();
    return true;
}

// *********************************************************************************************************************
// remove a visible overlay from the map
// *********************************************************************************************************************
function remove_overlay(type) {
    var overlayType = definitions[type][0];
    if (overlayType == "FC") {
        if (visible_FC == true) {
            map.overlayMapTypes.removeAt(0);
            visibleKeys.splice(0, 1);
        }
        visible_FC = false;
    }
    else if (overlayType == "V") {
        if (visible_V == true) {
            map.overlayMapTypes.pop();
            visibleKeys.splice(-1, 1);
        }
        visible_V = false;
    }
    if (visibleKeys.length < 1) {
        $("#key-img").attr("src","");
        $("#key-img").hide();
        $("#key").hide();
    }
    // this is bad makes assumption that only ever two in visibleKeys
    // If you increase the number of fields that can be shown on
    // On screen you will need to change this.
    else {
        $("#key-img").attr("src", visibleKeys[0]);
    }
}

// *********************************************************************************************************************
// remove a visible overlay from the map
// *********************************************************************************************************************
function warning_message(date, type) {
    var d = new Date(date.substring(0, date.length - 7));
    var h = new Date(); //temp variable
    var t = new Date(h.getFullYear(), h.getMonth(), h.getDay()); // so hours are not an issue
    t.setHours(t.getHours() + definitions[type][1]);

    console.log("date given: " + d);
    console.log("target box: " + t);

    if (d < t) {
        window.alert("There is no " + type + " overlay available for " + date);
    }
    else {
        window.alert(date + " is outside the current forcast range for " + type);
    }

}
</script>
